<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<%-  include("../include/meta.html"); %>
	<link rel='stylesheet' href='/css/index.css' />
</head>

<body>
	<div id="container">
		<!-- le menu principale -->
		<%-  include("../include/main_menu.html"); %>
		<!-- le conteneur principale de la page d'accueil -->
		<div class="columns main_home">
			
			<!-- text d'accroche -->
			<div class="column is-5 main_desc">
				<br><br><br><br><br>
				<div class="content">
					<h1 class="title is-1 pl-6">
						Devenez plus proche que jamais. <br>
						communiquer plus rapidement avec vos proches depuis n'importe où dans le monde.

					</h1>
					<div class="content pl-6">
						<div class="buttons">
							<button class="button is-focused py-5">
								Téléchargez l'application
							</button>
							<a class="button is-link py-5" href="/inscription">
								Commencer dès maintenant
							</a>
							
						</div>
					</div>
				</div>
			</div>
			<!-- illustration -->
			<div class="column is-7">
				<figure class="image">
					<img src="/images/2648196.jpg" class="tchatcha_illustration">
				</figure>
			</div>
			
		</div>
	</div>
</body>

</html>


<!-- 

	<a href='https://fr.freepik.com/vecteurs/affaires'>Affaires vecteur créé par pikisuperstar - fr.freepik.com</a>


	<a href='https://fr.freepik.com/vecteurs/affaires'>Affaires vecteur créé par pikisuperstar - fr.freepik.com</a>


	<a href='https://fr.freepik.com/vecteurs/personnes'>Personnes vecteur créé par pikisuperstar - fr.freepik.com</a>
 -->